@import '../../style/main.scss';

.manage-item {
    padding: 0px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 10px $color-shadow;
    .item-header{
      display: flex;
      margin-right: 20px;
      align-items: center;
      .item-divide{
        width: 5px;
        height: 36px;
        background-color: $color-brand;
      }
      .item-title {
        margin-left: 10px;
        font-size: 36px;
        line-height: 36px;
        flex: 1;
    }
    }

    .item-detail {
        font-size: 28px;
        color: $color-text-description;
        margin: 20px 0;
        padding: 0 20px;
    }
    .item-description {
        font-size: 28px;
        // @include mul-text-truncate(3);
        margin: 10px 10px 0 20px;
    }

    .item-footer {
        padding: 5px 20px 0 20px;
        border-top: solid 1px $color-line;
        align-items: center;
        display: flex;
        .item-date{
            flex: 1;
        }
        .item-operation {
            color: $color-text-activity;
        }
    }
}