@import '../../style/main.scss';

.task{
  .task-header{
    .header-title{
      font-size: 36px;
      .item-thumb{
        margin-right: 0px;
      }
    }
    .publish{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      margin-left: 25px;
    }
  }
}