
$color-brand: #C93E3E !default;
$color-brand-light: #C93E3E !default;
$color-brand-dark: #346FC2 !default;

@import "./style/base/setting.scss";
@import "~taro-ui/dist/style/index.scss"; // 引入组件样式 - 全局引入
@import "./style/font/iconfont.scss";


// 重写 taro-ui modal 组件
.at-modal__container {
    background: $color-bg-element;
    border-radius: 20px;
    width: 530px;
    .at-modal__header {
        padding: 40px 50px 0px 50px;
        font-size: 32px;
        color: $color-text-primary;
        line-height: 44px;
        border-bottom: 0;
        font-weight: bold;
        &::after {
            display: none;
        }
        &.no-content {
            padding-bottom: 40px;
        }
    }
    .at-modal__content {
        padding: 40px 30px;
        font-size: 28px;
        color: $color-text-description;
        text-align: center;
        line-height: 44px;
    }
    .at-modal__footer {
        &::before {
            border-top: 1PX solid $color-line;
        }
        .at-modal__action {
            .default {
                font-size: 32px;
                color: $color-text-description-s;
            }
            .action {
                color: $color-brand-color;
                font-size: 32px;
            }
        }
    }
}