@import '../../style/main.scss';

.PostItem {
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 10px $color-shadow;
    .post-title {
        font-size: 48px;
        color: $color-brand;
    }
    .post-detail {
        font-size: 28px;
        color: $color-text-description;
        margin: 20px 0;
        padding: 0 20px;
    }
    .post-description {
        font-size: 28px;
        @include mul-text-truncate(3);
        margin: 10px;
    }

    .post-footer {
        padding: 20px 20px 0 20px;
        border-top: solid 1px $color-line;
        display: flex;
        .post-date {
            flex: 1;
        }
        .post-score {
            color: $color-text-activity;
        }
    }
}