@import '../../style/main.scss';

.index{
    .index-swiper{
        .index-swiper-1,
        .index-swiper-2,
        .index-swiper-3{
            box-sizing: border-box;
            padding: 0 20px;
            width: 100%;
            height: 100%;
            image{
                width: 100%;
                height: 100%;
            }
        }
    }
    .form-btn{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
}